@font-face {
  font-family: 'Bainsley';
  src: url('../fonts/Bainsley_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bainsley';
  src: url('../fonts/Bainsley_Bold_Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bainsley';
  src: url('../fonts/Bainsley_Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bainsley';
  src: url('../fonts/Bainsley_Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calama';
  src: url('../fonts/Calama_new.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Xarrovv';
  src: url('../fonts/Xarrovv.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Xarrovv';
  src: url('../fonts/XarrovvBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caravan';
  src: url('../fonts/Caravan.eot');
  src: local('Caravan'),
    url('../fonts/Caravan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Caravan.woff2') format('woff2'),
    url('../fonts/Caravan.woff') format('woff'),
    url('../fonts/Caravan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonsieurLaDoulaise';
  src: url('../fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
